<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Inicio</span>
            </a>
            <a routerLink="./timeline" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>timeline</mat-icon>
                <span>TimeLine</span>
            </a>
            <a routerLink="./users" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>group</mat-icon>
                <span>Usuarios</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow.xs fxHide style="margin-right: 5px;">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>YouView</h1>
        <mat-nav-list fxLayout="row" fxHide.xs>
            <a routerLink="./" mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Inicio</span>
            </a>
            <a routerLink="./timeline" mat-list-item>
                <mat-icon mat-list-icon>timeline</mat-icon>
                <span>TimeLine</span>
            </a>
            <a routerLink="./users" mat-list-item>
                <mat-icon mat-list-icon>group</mat-icon>
                <span>Usuarios</span>
            </a>
        </mat-nav-list>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="user()" routerLink="./perfil">
                <mat-icon>face</mat-icon>
                Mi Perfil
            </button>
            <button mat-menu-item (click)="personalInformation()" routerLink="./my-data">
                <mat-icon>contact_page</mat-icon>
                Mis Datos
            </button>
            <button mat-menu-item (click)="logout()" routerLink="../auth">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </mat-menu>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>